@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
  overflow-x: hidden; }

nav {
  padding: 0;
  line-height: 85px;
  margin: 0 20px; }
  @media screen and (min-width: 1200px) {
    nav {
      margin: 0 210px; } }

.navBackground {
  background-color: #3c7778; }

.nav-submenu {
  float: left; }
  .nav-submenu a {
    color: white;
    font-size: 1.5em;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      .nav-submenu a {
        padding-right: 10px; } }
    @media screen and (min-width: 992px) {
      .nav-submenu a {
        padding-right: 20px; } }
  .nav-submenu span {
    border-left: grey 1px solid;
    padding-left: 5px;
    color: white; }
    @media screen and (min-width: 768px) {
      .nav-submenu span {
        padding-left: 10px; } }
    @media screen and (min-width: 992px) {
      .nav-submenu span {
        padding-left: 20px; } }

.nav-menu {
  float: right; }

.nav-menu-list {
  list-style: none;
  text-transform: uppercase; }
  .nav-menu-list li {
    display: inline-block;
    margin-right: 5px; }
    @media screen and (min-width: 768px) {
      .nav-menu-list li {
        margin-right: 10px; } }
    @media screen and (min-width: 992px) {
      .nav-menu-list li {
        margin-right: 20px; } }
    .nav-menu-list li a {
      color: #bec8c8;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
  .nav-menu-list li:last-child {
    margin-right: 0; }

.nav-menu__btn {
  line-height: 30px;
  background-color: #697e7f;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 0 10px;
  font-size: 12px;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  text-align: center; }

header {
  margin: 0;
  padding: 0;
  background: url("../Content/Header.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 660px;
  position: relative;
  z-index: -1; }

.header-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    .header-content {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    .header-content {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    .header-content {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    .header-content {
      margin: 0 210px; } }
  .header-content .header-content__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; }
  .header-content .header-content__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .header-content .header-content__subtitle {
        width: 500px;
        height: 40px; } }
  .header-content .header-content__btn {
    margin-top: 20px;
    font-family: "Montserrat";
    background-color: #6fb048;
    border: 0px;
    width: 185px;
    height: 50px;
    border-radius: 2px; }
  .header-content .header-content__btn:hover {
    cursor: pointer; }

#aboutus {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    #aboutus {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    #aboutus {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    #aboutus {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    #aboutus {
      margin: 0 210px; } }

.section-header {
  text-align: center; }

.section-header-title {
  padding-top: 80px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: #0f5f5c;
  text-align: center; }

.section-header-underline {
  width: 65px;
  border: #6fb048 1px solid; }

.section-header-subtitle, .aboutus-features__element p, .aboutus-others__element p {
  font-size: 15px;
  font-family: "Roboto";
  color: #83a7a5; }

.aboutus-features {
  margin-top: 50px; }
  @media screen and (min-width: 481px) {
    .aboutus-features {
      display: flex; } }
  @media screen and (min-width: 768px) {
    .aboutus-features {
      margin-top: 70px; } }

.aboutus-features__element {
  text-align: center;
  margin-top: 20px; }
  @media screen and (min-width: 481px) {
    .aboutus-features__element {
      margin-top: 0px; } }
  @media screen and (min-width: 992px) {
    .aboutus-features__element {
      width: 33.3%;
      padding: 0 20px; } }
  .aboutus-features__element h2 {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
    color: #0f5f5c;
    line-height: 1.25;
    text-align: center; }

.aboutus-others {
  margin-bottom: 50px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .aboutus-others {
      text-align: left;
      margin-top: 100px;
      margin-bottom: 130px; } }

.aboutus-others__element {
  padding-top: 50px; }
  .aboutus-others__element span {
    font-size: 16px;
    font-family: "Roboto";
    color: #0f5f5c;
    line-height: 1.25;
    text-align: left; }
  .aboutus-others__element p {
    max-width: 400px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .aboutus-others__element p {
        max-width: 100%; } }

#perfectTemplate {
  background-color: #eef1ec; }
  @media screen and (min-width: 992px) {
    #perfectTemplate {
      height: auto; } }

.perfectTemplate-container {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    .perfectTemplate-container {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    .perfectTemplate-container {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    .perfectTemplate-container {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    .perfectTemplate-container {
      margin: 0 210px; } }

.perfectTemplate-content {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .perfectTemplate-content {
      text-align: left;
      padding-top: 50px; } }
  @media screen and (min-width: 992px) {
    .perfectTemplate-content {
      padding-top: 80px; } }
  @media screen and (min-width: 1400px) {
    .perfectTemplate-content {
      padding-top: 110px; } }

.perfectTemplate-content h2 {
  font-size: 32px;
  font-family: "Roboto";
  color: #0f5f5c;
  line-height: 0.625; }

.perfectTemplate-content p {
  font-size: 14px;
  font-family: "Roboto";
  color: #83a7a5;
  line-height: 1.571; }

.perfectTemplate-image {
  padding-top: 20px; }
  @media screen and (min-width: 481px) {
    .perfectTemplate-image {
      padding-top: 0px;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-right: -30px; } }
  @media screen and (min-width: 768px) {
    .perfectTemplate-image {
      margin-right: 20px;
      float: left; } }
  @media screen and (min-width: 1400px) {
    .perfectTemplate-image {
      margin-right: 100px; } }
  .perfectTemplate-image img {
    margin: 20px auto;
    width: 50%;
    height: 50%; }
    @media screen and (min-width: 481px) {
      .perfectTemplate-image img {
        width: 40%;
        height: 40%; } }
    @media screen and (min-width: 768px) {
      .perfectTemplate-image img {
        margin: 0;
        width: 80%;
        height: 80%; } }
    @media screen and (min-width: 768px) {
      .perfectTemplate-image img {
        width: 100%;
        height: 100%; } }

.perfectTemplate-container:after {
  content: '';
  display: block;
  clear: both; }

#quotation {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    #quotation {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    #quotation {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    #quotation {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    #quotation {
      margin: 0 210px; } }

@media screen and (min-width: 768px) {
  .quotation-container {
    position: relative; } }

.quotation-content {
  padding-top: 100px; }
  @media screen and (min-width: 768px) {
    .quotation-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 130px;
      padding-top: 0px; } }
  .quotation-content p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #83a7a5;
    line-height: 1.818; }
    @media screen and (min-width: 768px) {
      .quotation-content p {
        font-size: 20px;
        width: 420px;
        height: auto; } }
    @media screen and (min-width: 992px) {
      .quotation-content p {
        font-size: 22px;
        width: 500px;
        height: auto; } }
  .quotation-content h3 {
    font-size: 14px;
    font-family: "Roboto";
    color: #6fb048;
    font-weight: 700;
    padding-top: 10px; }
  .quotation-content h4 {
    font-size: 14px;
    font-family: "Roboto";
    color: #83a7a5; }

.quotation-image {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    .quotation-image {
      float: right;
      padding: 140px 0; } }
  @media screen and (min-width: 992px) {
    .quotation-image {
      padding: 140px 0; } }
  .quotation-image img {
    width: 50%;
    height: 50%;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .quotation-image img {
        width: 100%;
        height: 100%; } }

#world {
  background-color: #eef1ec;
  height: auto; }

.world-container {
  position: relative;
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    .world-container {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    .world-container {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    .world-container {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    .world-container {
      margin: 0 210px; } }

.world-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px; }
  .world-content h2 {
    font-size: 26px;
    font-family: "Roboto";
    color: #0f5f5c; }
    @media screen and (min-width: 481px) {
      .world-content h2 {
        font-size: 28px; } }
    @media screen and (min-width: 768px) {
      .world-content h2 {
        font-size: 32px; } }
  .world-content p {
    font-size: 12px;
    font-family: "Roboto";
    color: #6f9391;
    line-height: 1.714; }
    @media screen and (min-width: 481px) {
      .world-content p {
        font-size: 14px;
        color: #83a7a5; } }

.world-image {
  float: right;
  margin-right: -10px; }
  @media screen and (min-width: 768px) {
    .world-image {
      margin-right: -20px; } }
  @media screen and (min-width: 992px) {
    .world-image {
      margin-right: -80px; } }
  @media screen and (min-width: 1200px) {
    .world-image {
      margin-right: -150px; } }
  @media screen and (min-width: 1400px) {
    .world-image {
      margin-right: -210px; } }

.world-container:after {
  content: "";
  display: block;
  clear: both; }

.world-container {
  padding: 100px 0; }
  @media screen and (min-width: 481px) {
    .world-container {
      padding: 50px 0; } }

#pricing {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    #pricing {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    #pricing {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    #pricing {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    #pricing {
      margin: 0 210px; } }

.pricing-tabs {
  margin: 40px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.pricing-tabs__element {
  padding: 5px;
  border: 1px #c1d3d2 solid;
  margin-left: -1px; }
  @media screen and (min-width: 481px) {
    .pricing-tabs__element {
      padding: 10px 20px 10px 20px; } }
  @media screen and (min-width: 768px) {
    .pricing-tabs__element {
      padding: 10px 60px 30px 60px; } }
  .pricing-tabs__element h3 {
    font-size: 12px;
    font-family: "Roboto";
    color: #6fb048;
    text-transform: uppercase;
    line-height: 1.333;
    font-weight: 700;
    padding-bottom: 15px; }
    @media screen and (min-width: 481px) {
      .pricing-tabs__element h3 {
        font-size: 15px; } }
  .pricing-tabs__element h2 {
    font-size: 4px;
    font-family: "Montserrat";
    color: #0f5f5c;
    line-height: 1.661;
    -moz-transform: matrix(5.39831, 0, 0, 5.39831, 0, 0);
    -webkit-transform: matrix(5.39831, 0, 0, 5.39831, 0, 0);
    -ms-transform: matrix(5.39831, 0, 0, 5.39831, 0, 0); }
    @media screen and (min-width: 481px) {
      .pricing-tabs__element h2 {
        font-size: 7px; } }
    @media screen and (min-width: 768px) {
      .pricing-tabs__element h2 {
        font-size: 8px; } }
    @media screen and (min-width: 992px) {
      .pricing-tabs__element h2 {
        font-size: 10px; } }
    @media screen and (min-width: 1200px) {
      .pricing-tabs__element h2 {
        font-size: 12px; } }
  .pricing-tabs__element p {
    font-size: 11px;
    font-family: "Roboto";
    color: #83a7a5;
    font-weight: 700; }
    @media screen and (min-width: 481px) {
      .pricing-tabs__element p {
        font-size: 12px; } }
    @media screen and (min-width: 768px) {
      .pricing-tabs__element p {
        font-size: 14px; } }

.pricing-tabs__element:first-child {
  margin-left: 0px; }

.pricing-tabs__element p:first-of-type {
  font-size: 12px;
  font-family: "Roboto";
  color: #0f5f5c;
  line-height: 1.429;
  padding-top: 5px;
  padding-bottom: 5px; }
  @media screen and (min-width: 481px) {
    .pricing-tabs__element p:first-of-type {
      font-size: 14px; } }

.pricing-tabs__element p:last-of-type {
  padding-bottom: 5px; }

.pricing-tabs__btn {
  background-color: #83a7a5;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 10px;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center; }
  @media screen and (min-width: 481px) {
    .pricing-tabs__btn {
      font-size: 12px;
      padding: 5px 10px; } }
  @media screen and (min-width: 768px) {
    .pricing-tabs__btn {
      padding: 12px 25px; } }

.pricing-tabs__btn_actvie {
  background-color: #6fb048; }

.pricing-plans {
  margin-top: 70px; }

.pricing-plans-heading {
  font-size: 22px;
  font-family: "Roboto";
  color: #0f5f5c;
  line-height: 0.909;
  text-align: center; }

.pricing-plans-list {
  font-size: 12px;
  list-style: none;
  padding-left: 10px; }
  @media screen and (min-width: 481px) {
    .pricing-plans-list {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media screen and (min-width: 992px) {
    .pricing-plans-list {
      padding-left: 0px;
      font-size: 14px;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; } }
  .pricing-plans-list p {
    font-family: "Roboto";
    color: #83a7a5;
    line-height: 2.571; }

.pricing-help {
  max-width: 550px;
  text-align: center;
  margin: 50px auto 100px auto; }
  .pricing-help h2 {
    font-size: 26px;
    font-family: "Roboto";
    color: #6fb048;
    line-height: 0.625; }
    @media screen and (min-width: 768px) {
      .pricing-help h2 {
        font-size: 32px; } }

.pricing-help__content {
  font-size: 15px;
  font-family: "Roboto";
  color: #83a7a5;
  line-height: 1.333; }

.pricing-email {
  font-size: 18px;
  font-family: "Roboto";
  color: #0f5f5c;
  line-height: 1.111;
  font-weight: 700;
  margin-top: 40px; }

#download {
  height: 250px;
  background: url("../Content/download.png");
  position: relative; }
  @media screen and (min-width: 481px) {
    #download {
      height: 200px; } }
  @media screen and (min-width: 768px) {
    #download {
      background: url("../Content/download.png") no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

.download-container {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    .download-container {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    .download-container {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    .download-container {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    .download-container {
      margin: 0 210px; } }
  .download-container .download-content {
    position: absolute;
    top: 35%;
    left: inherit;
    transform: translateY(-50%); }
    @media screen and (min-width: 481px) {
      .download-container .download-content {
        top: 40%; } }
    @media screen and (min-width: 768px) {
      .download-container .download-content {
        top: 50%; } }
    .download-container .download-content h1 {
      font-size: 26px;
      font-family: "Roboto";
      color: #0f5f5c; }
      @media screen and (min-width: 768px) {
        .download-container .download-content h1 {
          font-size: 30px; } }
    .download-container .download-content p {
      font-size: 13px;
      font-family: "Roboto";
      color: #83a7a5;
      line-height: 1.467; }
      @media screen and (min-width: 481px) {
        .download-container .download-content p {
          font-size: 15px; } }
  .download-container button {
    background-color: #6fb048;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 12px 25px;
    font-size: 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 10px;
    bottom: 15%; }
    @media screen and (min-width: 481px) {
      .download-container button {
        bottom: 10%; } }
    @media screen and (min-width: 768px) {
      .download-container button {
        left: auto;
        right: 20px;
        padding: 8px 15px;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        width: 150px; } }
    @media screen and (min-width: 992px) {
      .download-container button {
        right: 80px;
        padding: 12px 25px;
        font-size: 12px;
        width: auto; } }
    @media screen and (min-width: 1200px) {
      .download-container button {
        right: 150px; } }
    @media screen and (min-width: 1400px) {
      .download-container button {
        right: 210px; } }

#contact {
  margin: 0 10px; }
  @media screen and (min-width: 768px) {
    #contact {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    #contact {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    #contact {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    #contact {
      margin: 0 210px; } }

.contact-container {
  padding: 10px 0;
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .contact-container {
      text-align: left;
      padding: 100px 0; } }

@media screen and (min-width: 1200px) {
  .contact-data {
    padding-right: 50px; } }

.contact-data h1 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #0f5f5c;
  font-weight: bold;
  text-transform: uppercase; }

.contact-data span, .contact-data p {
  font-size: 13px;
  font-family: "Roboto";
  color: #83a7a5; }
  .contact-data span b, .contact-data p b {
    color: #0f5f5c; }

.contact-list h2, .contact-newsletter h2 {
  font-size: 15px;
  font-family: "Roboto";
  color: #0f5f5c;
  font-weight: 700; }

.contact-list ul {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  font-family: "Roboto";
  line-height: 2.154; }

.contact-list a {
  color: #83a7a5; }

.contact-newsletter {
  max-width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (min-width: 992px) {
    .contact-newsletter {
      transform: translateX(0%);
      position: static;
      margin: 0;
      padding: 0; } }
  .contact-newsletter p {
    font-size: 13px;
    font-family: "Roboto";
    color: #83a7a5; }

.contact-newsletter-input {
  position: relative; }
  .contact-newsletter-input input {
    background-color: #eef1ec;
    border: 0px;
    padding: 10px 15px;
    width: 100%;
    height: 36px; }
  .contact-newsletter-input button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0; }

footer {
  margin: 0 10px;
  position: relative;
  min-height: 50px; }
  @media screen and (min-width: 768px) {
    footer {
      margin: 0 20px; } }
  @media screen and (min-width: 992px) {
    footer {
      margin: 0 80px; } }
  @media screen and (min-width: 1200px) {
    footer {
      margin: 0 150px; } }
  @media screen and (min-width: 1400px) {
    footer {
      margin: 0 210px; } }
  footer p {
    font-size: 12px;
    font-family: "Roboto";
    color: #83a7a5;
    line-height: 1.5;
    font-weight: 700;
    text-align: center; }
    @media screen and (min-width: 481px) {
      footer p {
        text-align: left;
        position: absolute;
        left: 0;
        top: 60%;
        transform: translateY(-50%); } }
  footer .footer-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 481px) {
      footer .footer-list {
        position: absolute;
        right: 0;
        top: 60%;
        transform: translateY(-50%); } }
    footer .footer-list li {
      display: inline-block; }
      @media screen and (min-width: 481px) {
        footer .footer-list li {
          margin-left: 10px; } }

.footer-twitter {
  height: 30px;
  width: 30px;
  background: url("../Content/sociallinks.png") 0 0; }

.footer-facebook {
  background: url("../Content/sociallinks.png") -40px 0;
  height: 30px;
  width: 30px; }

.footer-instagram {
  background: url("../Content/sociallinks.png") -80px 0;
  height: 30px;
  width: 30px; }

.footer-dribble {
  background: url("../Content/sociallinks.png") -120px 0;
  height: 30px;
  width: 30px; }

.footer-github {
  background: url("../Content/sociallinks.png") -160px 0;
  height: 30px;
  width: 30px; }
