<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WAPIK</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/allStyles.css">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="nav-submenu">
        <a href="#">WAPIK</a>
        <span> <img alt="" src="../Content/phone.png"/>+62 202 555 0117</span>
    </div>

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="nav-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav-menu-list">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#aboutus">About us</a>
            </li>
            <li>
                <a href="#pricing">Pricing</a>
            </li>
            <li>
                <a href="#contact">Contact us</a>
            </li>
            <li>
                <button class="nav-menu__btn">Get started</button>
            </li>
        </ul>
    </div>
</nav>


<header id="home">
    <div class="header-content">
        <h1 class="header-content__title">Welcome to wapik</h1>
        <p class="header-content__subtitle">Wapik is multipurpose template, with modern and smart design. Wapik is
            perfect
            template for you!</p>
        <button class="header-content__btn">LEARN MORE</button>
    </div>
</header>


<section id="aboutus">
    <div class="section-header">
        <h1 class="section-header-title">Best of our features</h1>
        <hr class="section-header-underline"/>
        <p class="section-header-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
            Integer posuere erat a ante venenatis dapibus posuere velit aliquet. </p>
    </div>

    <div class="aboutus-features">
        <div class="aboutus-features__element">
            <img alt="" src="../Content/Ionicons.png"/>
            <h2>Ionicons</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque
                ornare sem.
            </p>
        </div>
        <div class="aboutus-features__element">
            <img alt="" src="../Content/CreativeDesign.png"/>
            <h2>Creative design</h2>
            <p>Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur
                et.</p>
        </div>
        <div class="aboutus-features__element">
            <img alt="" src="../Content/PhotoshopAndSketch.png"/>
            <h2>Photoshop and Sketch</h2>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit
                sit amet non magna.</p>
        </div>
    </div>

    <div class="row aboutus-others">
        <div class="col-sm-6 col-xs-12 aboutus-others__element">
            <img alt="" src="../Content/1st.png"/>
            <span>Cross Browser Compatibility</span>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="col-sm-6 col-xs-12 aboutus-others__element">
            <img alt="" src="../Content/2nd.png"/>
            <span>Creative Idea</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod
                semper.</p>
        </div>
        <div class="col-sm-6 col-xs-12 aboutus-others__element">
            <img alt="" src="../Content/3th.png"/>
            <span>Pixel Perfect</span>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-6 col-xs-12 aboutus-others__element">
            <img alt="" src="../Content/4th.png"/>
            <span>Free Forever and Ever</span>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
                metus.</p>
        </div>
    </div>
</section>

<section id="perfectTemplate">
    <div class="perfectTemplate-container">
        <div class="section-header">
            <h1 class="section-header-title">Looking for the perfect template to use?</h1>
            <hr class="section-header-underline"/>
            <p class="section-header-subtitle">Donec id elit non mi porta gravida at eget metus. </p>
        </div>
        <div class="perfectTemplate-image visible-sm visible-md visible-lg">
            <img class="img-responsive" alt="" src="../Content/phoneHand.png"/>
        </div>
        <div class="perfectTemplate-content">
            <h2>Responsive Ready</h2>
            <p>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                amet
                risus.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed
                consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta
                felis euismod semper.
            </p>
            <p>
                <img alt="" src="../Content/approved.png"/>
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            </p>
            <p>
                <img alt="" src="../Content/approved.png"/>
                Donec id elit non mi porta gravida at eget metus.
            </p>
        </div>
    </div>
</section>

<section id="quotation">
    <div class="quotation-container row">
        <div class="col-sm-8 col-xs-12 quotation-content">
            <p>
                This theme is beautiful, elegant and easy to customize. I’ve been able to build an amazing site in just
                a
                minute. Thank you very much for creating this impressive template!
            </p>
            <h3>
                Valeria Boltneva
            </h3>
            <h4>
                Director of Acme.Inc
            </h4>
        </div>
        <div class="col-sm-4 col-xs-12 quotation-image">
            <img class="img-responsive" alt="" src="../Content/face.png"/>
        </div>
    </div>
</section>

<section id="world">
    <div class="world-container">
        <div class="world-content">
            <h2>Built with High Attention to Details</h2>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum
                nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id
                ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="world-image">
            <img class="img-responsive" alt="" src="../Content/world.png"/>
        </div>
    </div>
</section>

<section id="pricing">
    <div class="section-header">
        <h1 class="section-header-title">Pricing & Plan</h1>
        <hr class="section-header-underline"/>
        <p class="section-header-subtitle">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            Donec id elit non mi porta gravida at eget metus.</p>
    </div>
    <div class="pricing-tabs">
        <div class="pricing-tabs__element">
            <h3>BASIC</h3>
            <h2>$199</h2>
            <p>/month</p>
            <p>Justo Fringilla</p>
            <p>Mollis Sit Nullan</p>
            <p>Ultricies Purus Amet</p>
            <p>Cras Inceptos</p>
            <button class="pricing-tabs__btn">SELECT PLAN</button>
        </div>
        <div class="pricing-tabs__element ">
            <h3>PLUS</h3>
            <h2>$399</h2>
            <p>/month</p>
            <p>Justo Fringilla</p>
            <p>Mollis Sit Nullan</p>
            <p>Ultricies Purus Amet</p>
            <p>Cras Inceptos</p>
            <button class="pricing-tabs__btn pricing-tabs__btn_actvie">SELECT PLAN</button>
        </div>
        <div class="pricing-tabs__element">
            <h3>PREMIUM</h3>
            <h2>$699</h2>
            <p>/month</p>
            <p>Justo Fringilla</p>
            <p>Mollis Sit Nullan</p>
            <p>Ultricies Purus Amet</p>
            <p>Cras Inceptos</p>
            <button class="pricing-tabs__btn">SELECT PLAN</button>
        </div>
    </div>

    <div class="pricing-plans">
        <h2 class="pricing-plans-heading">Included with all Plans</h2>
        <hr class="section-header-underline"/>
        <ul class="pricing-plans-list">
            <li><p><img alt="" src="../Content/approved.png"/> Maecenas faucibus mollis interdum</p></li>
            <li><p><img alt="" src="../Content/approved.png"/> Cras justo odio, dapibus ac facilisis</p></li>
            <li><p><img alt="" src="../Content/approved.png"/>Fringilla Mattis</p></li>

            <li><p><img alt="" src="../Content/approved.png"/>Vestibulum id ligula porta felis euismod</p></li>
            <li><p><img alt="" src="../Content/approved.png"/>Duis mollis, est non commodo luctus</p></li>
            <li><p><img alt="" src="../Content/approved.png"/>Integer posuere</p></li>

            <li><p><img alt="" src="../Content/approved.png"/>Nulla vitae elit libero, a pharetra augue</p></li>
            <li><p><img alt="" src="../Content/approved.png"/>Curabitur blandit tempus porttitor</p></li>
            <li><p><img alt="" src="../Content/approved.png"/>Nullam quis risus eget urna mollis</p></li>
        </ul>
    </div>

    <div class="pricing-help">
        <img alt="" src="../Content/lifebuoy.png"/>
        <h2>Need Help?</h2>
        <hr class="section-header-underline"/>
        <p class="pricing-help__content">Contact our Customer Support that is always ready to help you with any possible
            questions, problems or information.</p>
        <p class="pricing-email">support@wapik.com</p>
    </div>

</section>

<section id="download">
    <div class="download-container">
        <div class="download-content">
            <h1>Do You Like Wapik? Download it Now</h1>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div>
        <button>DOWNLOAD NOW! - FREE FOREVER</button>
    </div>
</section>

<section id="contact"></section>
<footer></footer>

<link href="../js/jquery-2.2.2.min.js">
<link href="../js/bootstrap.min.js">
</body>
</html>